.name, .last-name, .out-name {
    display: block;
    margin: 10px;
   
}

body>ul>li {
    height: 20px;
    width: 20%;
    border: 1px solid black;
}

.box {
    height: 400px;
    width: 30%;
    border: 1px solid rgb(223, 66, 162);
    background-color: rgb(223, 66, 162);
    display: block;
}

.spanOutput {
    display: block;
}
.div-move {
    height: 50px;
    width: 20%;
    border: 1px solid rgb(142, 61, 196);
    background-color: rgb(142, 61, 196);
    position: relative;
    transition: all 1s linear;
    
}
.num {
    width: 50%;
    box-sizing: border-box;
    border: 5px solid silver;
    display: block;
}

.border-focus {
    border: 5px solid rgb(119, 182, 119);
    outline: none;
    box-sizing: border-box;
    color: rgb(115, 224, 115);
}