body {
    background-color: #b6e4ec;
}
.card_man {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.cardBody {
    display: inline-block;
    height: 20vh;
    border: 1px solid rgb(248, 243, 197);
    border-radius: 5px;
    margin: 0.5rem;
    background-color: rgb(248, 243, 197);
    text-align: center;
    box-sizing: border-box;
}
.cardBody:hover {
    border: 1px solid rgb(226, 213, 95);
    background-color: rgb(226, 213, 95);
}
.order {
   text-align: left;
   padding: 0.3rem;
   
}
.cardText {
    font-weight: 200;
    font-size: 12px;
}